In [4]:
import pandas as pd

In [7]:
import pandas as pd

# replace with your uploaded filename
df = pd.read_excel("/content/CDC colleges.xlsx")

# show first rows
df.head()

,LIST OF GOVERNMENT COLLEGES AFFILIATED TO THE UNIVERSITY OF JAMMU,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,SN\no,Name of the College,Year of\nEstab.,Basic Course Offered,Other Courses run by the college with year of\...
1,A,Degree Colleges(65),NaN,NaN,NaN
2,1,Shri Krishan Chander Govt. Degree College...,1955,"Arts, Science, Commerce",BCA(2004)
3,2,"Govt. Degree College, Bhaderwah",1955,"Arts, Science, Commerce",BCA(2002)\nPG in Chemistry PG in Urdu
4,3,"Govt. Degree College, Kathua",1961,"Arts, Science, Commerce, B.Sc. Home Science",BCA(2002) BBA(2008)\nPG in Geography

In [9]:
print(df.columns.tolist())

['LIST\xa0OF\xa0GOVERNMENT\xa0COLLEGES\xa0AFFILIATED\xa0TO\xa0THE\xa0UNIVERSITY\xa0OF\xa0JAMMU', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4']

In [10]:
df = pd.read_excel("CDC colleges.xlsx", header=2)  # skip top 2 rows
print(df.head())
print(df.columns.tolist())

   A                                Degree Colleges(65)  Unnamed: 2  \
0  1  Shri  Krishan  Chander  Govt.  Degree  College...      1955.0
1  2                    Govt. Degree College, Bhaderwah      1955.0
2  3                       Govt. Degree College, Kathua      1961.0
3  4              Govt. Degree College (Boys), Udhampur      1961.0
4  5                      Govt. Degree College, Rajouri      1981.0

                                      Unnamed: 3  \
0                        Arts, Science, Commerce
1                        Arts, Science, Commerce
2  Arts,  Science,  Commerce, B.Sc. Home Science
3                        Arts, Science, Commerce
4                        Arts, Science, Commerce

                                          Unnamed: 4
0                                          BCA(2004)
1              BCA(2002)\nPG in Chemistry PG in Urdu
2               BCA(2002) BBA(2008)\nPG in Geography
3  BCA(2010) BBA(2002)\nPG in Hindi PG in English...
4  BCA(2002) MCA(2004)\nPG in Chemistry (2004)\nP...
['A', 'Degree Colleges(65)', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4']

In [11]:
df = pd.read_excel("CDC colleges.xlsx", header=0)

df = df.rename(columns={
    "Degree Colleges(65)": "College Name",
    "Unnamed: 2": "Year",
    "Unnamed: 3": "Basic Courses",
    "Unnamed: 4": "Other Courses"
})

print(df.head())
print(df.columns.tolist())

  LIST OF GOVERNMENT COLLEGES AFFILIATED TO THE UNIVERSITY OF JAMMU  \
0                                              SN\no
1                                                  A
2                                                  1
3                                                  2
4                                                  3

                                          Unnamed: 1             Year  \
0                                Name of the College  Year of\nEstab.
1                                Degree Colleges(65)              NaN
2  Shri  Krishan  Chander  Govt.  Degree  College...             1955
3                    Govt. Degree College, Bhaderwah             1955
4                       Govt. Degree College, Kathua             1961

                                   Basic Courses  \
0                           Basic Course Offered
1                                            NaN
2                        Arts, Science, Commerce
3                        Arts, Science, Commerce
4  Arts,  Science,  Commerce, B.Sc. Home Science

                                       Other Courses
0  Other Courses run by the college with year of\...
1                                                NaN
2                                          BCA(2004)
3              BCA(2002)\nPG in Chemistry PG in Urdu
4               BCA(2002) BBA(2008)\nPG in Geography
['LIST\xa0OF\xa0GOVERNMENT\xa0COLLEGES\xa0AFFILIATED\xa0TO\xa0THE\xa0UNIVERSITY\xa0OF\xa0JAMMU', 'Unnamed: 1', 'Year', 'Basic Courses', 'Other Courses']

In [12]:
all_courses = []

for idx, row in df.iterrows():
    if pd.notna(row["Basic Courses"]):
        all_courses.extend([c.strip() for c in str(row["Basic Courses"]).split(",")])
    if pd.notna(row["Other Courses"]):
        all_courses.extend([c.strip() for c in str(row["Other Courses"]).replace("\n", " ").split()])

# Deduplicate
all_courses = sorted(set(all_courses))
print("Number of unique courses:", len(all_courses))
print("Sample:", all_courses[:20])

Number of unique courses: 98
Sample: ['&', '(2004)', '(2019)', '(2022)', '(Hons.)', 'Anatomy,', 'Anesthesiology,', 'Arabic,', 'Arts', 'B.A.', 'B.Arch.', 'B.Sc.', 'B.Sc. Home Science', 'B.Sc. Nursing (30)', 'B.Sc. Nursing (40)', 'B.Sc. Nursing (60)', 'B.Sc.(2020)', 'B.Sc.(2021)', 'B.Sc.(2022)', 'B.sc.(2022)']

In [13]:
import re

cleaned_courses = []
for c in all_courses:
    # remove commas, parentheses, and digits
    c = re.sub(r"[\d\(\),]", "", c).strip()
    # skip if it's empty or just symbols
    if not c or len(c) < 2:
        continue
    # capitalize nicely
    cleaned_courses.append(c)

cleaned_courses = sorted(set(cleaned_courses))
print("Number of cleaned courses:", len(cleaned_courses))
print("Sample:", cleaned_courses[:20])

Number of cleaned courses: 74
Sample: ['Anatomy', 'Anesthesiology', 'Arabic', 'Arts', 'B.A.', 'B.Arch.', 'B.Sc.', 'B.Sc. Home Science', 'B.Sc. Nursing', 'B.sc.', 'BAMS', 'BBA', 'BCA', 'BDS MD', 'BE', 'Basic Course Offered', 'Blood', 'BridgeConservative', 'Chemistry', 'Commerce']

In [14]:
def colleges_for_course(course):
    result = df[
        df["Basic Courses"].str.contains(course, case=False, na=False) |
        df["Other Courses"].str.contains(course, case=False, na=False)
    ]
    return result["College Name"].dropna().unique().tolist()

In [15]:
print(df.columns.tolist())

['LIST\xa0OF\xa0GOVERNMENT\xa0COLLEGES\xa0AFFILIATED\xa0TO\xa0THE\xa0UNIVERSITY\xa0OF\xa0JAMMU', 'Unnamed: 1', 'Year', 'Basic Courses', 'Other Courses']

In [16]:
df = pd.read_excel("CDC colleges.xlsx", header=0)

df = df.rename(columns={
    'LIST\xa0OF\xa0GOVERNMENT\xa0COLLEGES\xa0AFFILIATED\xa0TO\xa0THE\xa0UNIVERSITY\xa0OF\xa0JAMMU': 'College Name',
    'Unnamed: 1': 'Index',
    'Year': 'Year',
    'Basic Courses': 'Basic Courses',
    'Other Courses': 'Other Courses'
})

print(df.columns.tolist())

['College Name', 'Index', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4']

In [18]:
df.columns = df.columns.str.strip()   # removes spaces
df.columns = df.columns.str.replace("\xa0", " ", regex=True)  # remove weird non-breaking spaces
print(df.columns.tolist())

['College Name', 'Index', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4']

In [19]:
df = df.rename(columns={
    "Unnamed: 2": "Year",
    "Unnamed: 3": "Basic Courses",
    "Unnamed: 4": "Other Courses"
})

print(df.columns.tolist())

['College Name', 'Index', 'Year', 'Basic Courses', 'Other Courses']

In [20]:
import re

def clean_text(x):
    if pd.isna(x):
        return ""
    return re.sub(r"[\d\(\)\n]", "", str(x))  # remove numbers, years, newlines

df["Basic Clean"] = df["Basic Courses"].apply(clean_text)
df["Other Clean"] = df["Other Courses"].apply(clean_text)

In [21]:
def colleges_for_course(course):
    result = df[
        df["Basic Clean"].str.contains(course, case=False, na=False) |
        df["Other Clean"].str.contains(course, case=False, na=False)
    ]
    return result["College Name"].dropna().unique().tolist()

In [22]:
print(colleges_for_course("BCA"))
print(colleges_for_course("Commerce"))
print(colleges_for_course("B.Sc. Nursing"))

[1, 2, 3, 4, 5, 6, 8, 9, 12, 15, 17]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 14, 15, 17, 18, 19, 44, 45, 46, 53, 54]
[1, 2, 3, 4, 5, 6, 7]

In [23]:
# Step 1: Clean column names
df.columns = df.columns.str.strip()            # Remove leading/trailing spaces
df.columns = df.columns.str.replace(r'\s+', ' ', regex=True)  # Replace multiple spaces/newlines with single space

# Step 2: Check column names
print(df.columns)

Index(['College Name', 'Index', 'Year', 'Basic Courses', 'Other Courses',
       'Basic Clean', 'Other Clean'],
      dtype='object')

In [24]:
def colleges_for_course(course):
    result = df[
        df["Basic Course Offered"].str.contains(course, case=False, na=False) |
        df["Other Courses run by the college with year of Estab."].str.contains(course, case=False, na=False)
    ]
    return result["Name of the College"].dropna().unique().tolist()

In [25]:
print(colleges_for_course("BCA"))
print(colleges_for_course("Commerce"))
print(colleges_for_course("B.Sc. Nursing"))

KeyError: 'Basic Course Offered'

In [26]:
# Step 1: See all columns
print(df.columns.tolist())

['College Name', 'Index', 'Year', 'Basic Courses', 'Other Courses', 'Basic Clean', 'Other Clean']

In [27]:
# Remove leading/trailing spaces, replace newlines with spaces
df.columns = df.columns.str.strip()                     # remove leading/trailing spaces
df.columns = df.columns.str.replace('\n', ' ', regex=True)  # replace newlines with space
df.columns = df.columns.str.replace(r'\s+', ' ', regex=True) # collapse multiple spaces

In [28]:
print(df.columns.tolist())

['College Name', 'Index', 'Year', 'Basic Courses', 'Other Courses', 'Basic Clean', 'Other Clean']

In [30]:
def colleges_for_course(course):
    result = df[
        df["Basic Course Offered"].str.contains(course, case=False, na=False) |
        df["Other Courses run by the college with year of Estab."].str.contains(course, case=False, na=False)
    ]
    return result["Name of the College"].dropna().unique().tolist()

In [31]:
def colleges_for_course(course):
    # Clean both columns for matching
    basic = df["Basic Course Offered"].str.replace(r'\s+', ' ', regex=True).str.strip()
    other = df["Other Courses run by the college with year of Estab."].str.replace(r'\s+', ' ', regex=True).str.strip()

    # Case-insensitive, partial match
    result = df[basic.str.contains(course, case=False, na=False) |
                other.str.contains(course, case=False, na=False)]

    return result["Name of the College"].dropna().unique().tolist()

In [33]:
# See exactly what your column names are
for i, col in enumerate(df.columns):
    print(i, repr(col))

0 'College Name'
1 'Index'
2 'Year'
3 'Basic Courses'
4 'Other Courses'
5 'Basic Clean'
6 'Other Clean'

In [34]:
def colleges_for_course(course):
    result = df[
        df["Basic Clean"].str.contains(course, case=False, na=False) |
        df["Other Clean"].str.contains(course, case=False, na=False)
    ]
    return result["College Name"].dropna().unique().tolist()

In [36]:
def colleges_for_course(course):
    # Filter the rows where the course appears in Basic Clean or Other Clean
    result = df[
        df["Basic Clean"].str.contains(course, case=False, na=False) |
        df["Other Clean"].str.contains(course, case=False, na=False)
    ]

    # Return the College Name column as a list
    return result["College Name"].tolist()

In [37]:
print(colleges_for_course("BCA"))
print(colleges_for_course("Commerce"))
print(colleges_for_course("B.Sc. Nursing"))

[1, 2, 3, 4, 5, 6, 8, 9, 12, 15, 17]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 14, 15, 17, 18, 19, 44, 45, 46, 53, 54]
[1, 2, 3, 4, 5, 6, 7]

In [40]:
import pandas as pd

df = pd.read_excel("/content/CDC colleges.xlsx", header=None)  # read without assuming a header
print(df.head(10))  # see first 10 rows

                                                   0  \
0  LIST OF GOVERNMENT COLLEGES AFFILIATED TO THE ...
1                                              SN\no
2                                                  A
3                                                  1
4                                                  2
5                                                  3
6                                                  4
7                                                  5
8                                                  6
9                                                  7

                                                   1                2  \
0                                                NaN              NaN
1                                Name of the College  Year of\nEstab.
2                                Degree Colleges(65)              NaN
3  Shri  Krishan  Chander  Govt.  Degree  College...             1955
4                    Govt. Degree College, Bhaderwah             1955
5                       Govt. Degree College, Kathua             1961
6              Govt. Degree College (Boys), Udhampur             1961
7                      Govt. Degree College, Rajouri             1981
8           Govt. Degree College for women, Udhampur             1986
9                     Govt. Degree College, Kishtwar             1986

                                               3  \
0                                            NaN
1                           Basic Course Offered
2                                            NaN
3                        Arts, Science, Commerce
4                        Arts, Science, Commerce
5  Arts,  Science,  Commerce, B.Sc. Home Science
6                        Arts, Science, Commerce
7                        Arts, Science, Commerce
8                        Arts, Science, Commerce
9                        Arts, Science, Commerce

                                                   4
0                                                NaN
1  Other Courses run by the college with year of\...
2                                                NaN
3                                          BCA(2004)
4              BCA(2002)\nPG in Chemistry PG in Urdu
5               BCA(2002) BBA(2008)\nPG in Geography
6  BCA(2010) BBA(2002)\nPG in Hindi PG in English...
7  BCA(2002) MCA(2004)\nPG in Chemistry (2004)\nP...
8            BCA(2018)\nB.A. (Hons.) in Hindi (2019)
9                                                NaN

In [41]:
df = pd.read_excel("/content/CDC colleges.xlsx", header=2)  # use correct header row
print(df.columns.tolist())  # check the column names now

['A', 'Degree Colleges(65)', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4']

In [43]:
import pandas as pd

df = pd.read_excel("/content/CDC colleges.xlsx", header=None)
print(df.head(20))

                                                    0  \
0   LIST OF GOVERNMENT COLLEGES AFFILIATED TO THE ...
1                                               SN\no
2                                                   A
3                                                   1
4                                                   2
5                                                   3
6                                                   4
7                                                   5
8                                                   6
9                                                   7
10                                                  8
11                                                  9
12                                                 10
13                                                 11
14                                                 12
15                                                 13
16                                                 14
17                                                 15
18                                                 16
19                                                 17

                                                    1                2  \
0                                                 NaN              NaN
1                                 Name of the College  Year of\nEstab.
2                                 Degree Colleges(65)              NaN
3   Shri  Krishan  Chander  Govt.  Degree  College...             1955
4                     Govt. Degree College, Bhaderwah             1955
5                        Govt. Degree College, Kathua             1961
6               Govt. Degree College (Boys), Udhampur             1961
7                       Govt. Degree College, Rajouri             1981
8            Govt. Degree College for women, Udhampur             1986
9                      Govt. Degree College, Kishtwar             1986
10                         Govt. Degree College, Doda             1989
11  General    Zorawar    Singh    Memorial    Deg...             2003
12                      Govt. Degree College, Akhnoor             2005
13                   Govt. Degree College, R. S. Pura             2005
14             Govt. Degree College for girls, Kathua             2005
15  Girdari  Lal  Dogra  Memorial  Degree  College...             2005
16                      Govt. Degree College, Basohli             2005
17                     Govt. Degree College, Billawar             2005
18  Shri   Chhote    Shah    Govt.    Degree   Col...             2005
19                     Govt. Degree College, Ramnagar             2005

                                                3  \
0                                             NaN
1                            Basic Course Offered
2                                             NaN
3                         Arts, Science, Commerce
4                         Arts, Science, Commerce
5   Arts,  Science,  Commerce, B.Sc. Home Science
6                         Arts, Science, Commerce
7                         Arts, Science, Commerce
8                         Arts, Science, Commerce
9                         Arts, Science, Commerce
10                        Arts, Science, Commerce
11                        Arts, Science, Commerce
12                        Arts, Science, Commerce
13                                  Arts, Science
14                                  Arts, Science
15                                  Arts, Science
16                        Arts, Science, Commerce
17                        Arts, Science, Commerce
18                                  Arts, Science
19                       Arts, Science,  Commerce

                                                    4
0                                                 NaN
1   Other Courses run by the college with year of\...
2                                                 NaN
3                                           BCA(2004)
4               BCA(2002)\nPG in Chemistry PG in Urdu
5                BCA(2002) BBA(2008)\nPG in Geography
6   BCA(2010) BBA(2002)\nPG in Hindi PG in English...
7   BCA(2002) MCA(2004)\nPG in Chemistry (2004)\nP...
8             BCA(2018)\nB.A. (Hons.) in Hindi (2019)
9                                                 NaN
10                                          BCA(2007)
11  BCA(2014)\nB.A. (Hons.) in Political Science(2...
12                                                NaN
13                        B.A. (Hons.) in Hindi(2018)
14                                          BCA(2019)
15                                                NaN
16                                                NaN
17                                          BCA(2010)
18                                                NaN
19                                BCA(2010) BBA(2010)

In [44]:
import pandas as pd

# Use header row 1
df = pd.read_excel("/content/CDC colleges.xlsx", header=1)

# Clean column names
df.columns = df.columns.str.strip()                 # remove leading/trailing spaces
df.columns = df.columns.str.replace(r'\n', ' ', regex=True)  # replace newlines with space
df.columns = df.columns.str.replace(r'\s+', ' ', regex=True) # collapse multiple spaces

print(df.columns.tolist())

['SN o', 'Name of the College', 'Year of Estab.', 'Basic Course Offered', 'Other Courses run by the college with year of Estab.']

In [45]:
def colleges_for_course(course):
    # Clean the text columns for searching
    basic = df["Basic Course Offered"].astype(str).str.replace(r'\s+', ' ', regex=True).str.strip()
    other = df["Other Courses run by the college with year of Estab."].astype(str).str.replace(r'\s+', ' ', regex=True).str.strip()

    # Case-insensitive search
    result = df[basic.str.contains(course, case=False, na=False) | other.str.contains(course, case=False, na=False)]

    # Return the college names
    return result["Name of the College"].dropna().unique().tolist()

In [48]:
print(colleges_for_course("BCA"))
print(colleges_for_course("Commerce"))
print(colleges_for_course("B.Sc. Nursing"))

['Shri  Krishan  Chander  Govt.  Degree  College, Poonch', 'Govt. Degree College, Bhaderwah', 'Govt. Degree College, Kathua', 'Govt. Degree College (Boys), Udhampur', 'Govt. Degree College, Rajouri', 'Govt. Degree College for women, Udhampur', 'Govt. Degree College, Doda', 'General    Zorawar    Singh    Memorial    Degree College, Reasi', 'Govt. Degree College for girls, Kathua', 'Govt. Degree College, Billawar', 'Govt. Degree College, Ramnagar']
['Shri  Krishan  Chander  Govt.  Degree  College, Poonch', 'Govt. Degree College, Bhaderwah', 'Govt. Degree College, Kathua', 'Govt. Degree College (Boys), Udhampur', 'Govt. Degree College, Rajouri', 'Govt. Degree College for women, Udhampur', 'Govt. Degree College, Kishtwar', 'Govt. Degree College, Doda', 'General    Zorawar    Singh    Memorial    Degree College, Reasi', 'Govt. Degree College, Akhnoor', 'Govt. Degree College, Basohli', 'Govt. Degree College, Billawar', 'Govt. Degree College, Ramnagar', 'Shri  Pandit  Prem  Nath  Dogra  Govt.  Degree College, Samba', 'Govt. Degree College, Ramban', 'Govt. Degree College, Vijaypur', 'Govt. Degree College, Sidhra', 'Govt.     Degree     College,     Sainik     Colony/ Kunjwani', 'Govt. Degree College, Marh', 'Govt. College for women, Bhagwati Nagar']
['Government College of Nursing, Gandhi Nagar, Jammu', 'Government Nursing College, Gangyal, Jammu', 'Government Nursing College, Reasi', 'Government Nursing College, Udhampur', 'Government Nursing College, Doda', 'Government Nursing College, Akhnoor', 'Government Nursing College, Kishtwar']

In [50]:
import pandas as pd
import re

# Use the actual column names
basic_col = "Basic Course Offered"
other_col = "Other Courses run by the college with year of Estab."

all_courses = pd.Series(
    df[basic_col].dropna().tolist() + df[other_col].dropna().tolist()
)

course_set = set()
for entry in all_courses:
    # Split by comma, newline, parentheses
    courses = re.split(r'[,\n()]', str(entry))
    for c in courses:
        c = c.strip()
        if c:
            course_set.add(c)

course_list = sorted(course_set)
print(course_list)  # now contains all unique courses

['-   General   Surgery', '2002', '2004', '2007', '2008', '2010', '2014', '2018', '2019', '2020', '2021', '2022', '30', '40', '60', 'Anatomy', 'Anesthesiology', 'Arts', 'B.A.', 'B.Arch.', 'B.Sc.', 'B.Sc. Home Science', 'B.Sc. Nursing', 'B.Sc. Paramedical', 'B.sc.', 'BAMS', 'BBA', 'BCA', 'BDS MD', 'BE', 'Commerce', 'Community    Medicine', 'Conservative    Dentistry    &    Endodontics', 'Geography', 'Hons.', 'Immunohaematology  & Blood Transfusion Medicine', 'MBBS', 'MBBS MD', 'MCA', 'MD/MS', 'Microbiology', 'Obst.    &    Gynecology', 'Oral & Maxillofacial Pathology & Oral Microbiology', 'Oral & Maxillofacial surgery', 'Orthodontics     &     Dentofacial', 'Orthopedics', 'PG', 'PG in  Arabic', 'PG in Chemistry', 'PG in Chemistry PG in Urdu', 'PG in English', 'PG in Geography', 'PG in Hindi PG in English', 'Paediatric  Dentistry', 'Pathology', 'Pediatrics', 'Periodontology', 'Pharmacology', 'Physics', 'Physiology', 'Prosthodontics  and  Crown  & Bridge', 'Radio-Diagnosis', 'Science', 'Urdu', 'in Hindi', 'in History', 'in Political Science', 'in Psychology']

In [51]:
interests = {
    "Engineering": ["BE", "B.Tech", "BCA", "MCA"],
    "Medical": ["MBBS", "B.Sc. Nursing", "B.Sc. Paramedical", "BAMS", "BDS MD", "MD/MS"],
    "Commerce": ["B.Com", "BBA", "Commerce"],
    "Arts": ["BA", "B.A.", "B.Sc.", "Science", "Geography", "Hons."],
    "Architecture": ["B.Arch."],
    "Other": ["PG in Chemistry", "PG in English", "PG in Geography", "Physics", "Mathematics"]
}

In [52]:
quiz_tree = {
    "question": "What are your interests?",
    "options": {}
}

for interest, courses in interests.items():
    # Each interest leads to a sub-question: choose a course
    course_options = {c: f"Consider colleges offering {c}" for c in courses if c in course_list}
    quiz_tree["options"][interest] = {
        "question": f"Which course in {interest} are you interested in?",
        "options": course_options
    }

In [53]:
def run_quiz(node):
    if isinstance(node, str):
        print("\nRecommendation:", node)
        return

    print("\n" + node["question"])
    options = list(node["options"].keys())
    for i, opt in enumerate(options, 1):
        print(f"{i}. {opt}")

    choice = input("Enter the number of your choice: ")

    try:
        choice = int(choice)
        if 1 <= choice <= len(options):
            selected = options[choice - 1]
            next_node = node["options"][selected]
            run_quiz(next_node)
        else:
            print("Invalid choice. Try again.")
            run_quiz(node)
    except ValueError:
        print("Please enter a number.")
        run_quiz(node)

In [55]:
run_quiz(quiz_tree)

What are your interests?
1. Engineering
2. Medical
3. Commerce
4. Arts
5. Architecture
6. Other
Enter the number of your choice: 3

Which course in Commerce are you interested in?
1. BBA
2. Commerce
Enter the number of your choice: 1

Recommendation: Consider colleges offering BBA

In [56]:
def categorize_course(course):
    course = course.lower()
    if any(x in course for x in ["be", "bca", "mca"]):
        return "Engineering"
    elif any(x in course for x in ["mbbs", "b.sc nursing", "b.sc paramedical", "bams", "bds"]):
        return "Medical"
    elif any(x in course for x in ["b.com", "bba", "commerce"]):
        return "Commerce"
    elif any(x in course for x in ["ba", "arts", "b.sc", "science", "geography", "hons"]):
        return "Arts"
    elif "b.arch" in course:
        return "Architecture"
    else:
        return "Other"

In [57]:
def colleges_for_course(course):
    basic_col = "Basic Course Offered"
    other_col = "Other Courses run by the college with year of Estab."

    # Case-insensitive search
    mask = df[basic_col].astype(str).str.contains(course, case=False, na=False) | \
           df[other_col].astype(str).str.contains(course, case=False, na=False)

    return df.loc[mask, "Name of the College"].dropna().unique().tolist()

In [58]:
def personalized_quiz():
    # Step 1: Ask interests
    interests = ["Engineering", "Medical", "Commerce", "Arts", "Architecture", "Other"]
    print("What are your interests?")
    for i, intr in enumerate(interests, 1):
        print(f"{i}. {intr}")
    choice = int(input("Enter the number of your choice: "))
    selected_interest = interests[choice-1]

    # Step 2: Filter courses based on interest
    all_courses = pd.Series(df["Basic Course Offered"].dropna().tolist() + df["Other Courses run by the college with year of Estab."].dropna().tolist())

    # Flatten, clean, split
    import re
    course_set = set()
    for entry in all_courses:
        courses = re.split(r'[,\n()]', str(entry))
        for c in courses:
            c = c.strip()
            if c and categorize_course(c) == selected_interest:
                course_set.add(c)

    course_list = sorted(course_set)

    # Step 3: Ask which course
    print(f"\nWhich course in {selected_interest} are you interested in?")
    for i, c in enumerate(course_list, 1):
        print(f"{i}. {c}")
    course_choice = int(input("Enter the number of your choice: "))
    selected_course = course_list[course_choice-1]

    # Step 4: Show colleges
    colleges = colleges_for_course(selected_course)
    print(f"\nBased on your interest in {selected_course}, here are matching colleges:\n")
    for col in colleges:
        print(f"- {col}")

In [59]:
personalized_quiz()

What are your interests?
1. Engineering
2. Medical
3. Commerce
4. Arts
5. Architecture
6. Other
Enter the number of your choice: 4

Which course in Arts are you interested in?
1. Arts
2. B.Sc.
3. B.Sc. Home Science
4. B.Sc. Nursing
5. B.Sc. Paramedical
6. B.sc.
7. Geography
8. Hons.
9. PG in Geography
10. Science
11. in Political Science
Enter the number of your choice: 7

Based on your interest in Geography, here are matching colleges:

- Govt. Degree College, Kathua
- Govt. Degree College, Rajouri